{% extends "layouts/base.html" %}


{% block content %}

  <section class="py-sm-7 py-5 position-relative" style="background-color: lightgray">
    <div class="container mt-2">
      <div class="card card-block mb-2 text-center">
        <h4 class="">Positions in company</h4>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
            <img src="{{ ASSETS_ROOT }}/img/software-engineer.jpg" alt="Photo of sunset">
            <h5 class="card-title mt-3 mb-3">Software Engineer</h5>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
            <img src="{{ ASSETS_ROOT }}/img/data-scientist.jpg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">Data Scientist</h5>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
            <img src="{{ ASSETS_ROOT }}/img/product-manager.jpg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">Product Manager</h5>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
            <img src="{{ ASSETS_ROOT }}/img/designer.jpg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">UI/UX Designer</h5>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
            <img src="{{ ASSETS_ROOT }}/img/dev-ops.jpg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">DevOps Engineer</h5>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
            <img src="{{ ASSETS_ROOT }}/img/fron-dev.jpg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">Front-end Developer</h5>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
            <img src="{{ ASSETS_ROOT }}/img/project-namager.jpg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">Project management</h5>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
            <img src="{{ ASSETS_ROOT }}/img/net-eng.jpg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">Network Engineer</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
