{% extends "layouts/base.html" %}

{% block content %}
  <section class="py-sm-7 py-5 position-relative">
    <div class="container">
      <div class="row">
        {% for worker in worker_list %}
          <div class="col-md-4">
            <div class="card user-card">
              <div class="card-header">
                <h5><a href="{% url 'accounts:worker-detail' pk=worker.id %}" style="text-decoration: underline;">
                  {{ worker.username }}
                </a></h5>
              </div>
              <div class="card-block">
                <div class="user-image">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-radius"
                       alt="User-Profile-Image">
                </div>
                <h6 class="f-w-600 m-t-25 m-b-10">{{ worker.first_name }} {{ worker.last_name }}</h6>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
    {% include "includes/pagination.html" %}
  </section>
  
{% endblock content %}
