<footer class="footer">
  <hr class="horizontal dark mb-5">
  <div class="container">
    <div class=" row">
      <div class="col-md-3 mb-4 ms-auto">
        <div>

        </div>
        <div>

          <ul class="d-flex flex-row ms-n3 nav">
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>

          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>

          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>

          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
        <div>

          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <p class="my-4 text-sm">
            System by &copy;
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
