<nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
  <div class="container">
    <a href="{% url 'tasks:home' %}">
      <img class="navbar-logo" src="{{ ASSETS_ROOT }}/img/logo-nav.jpg" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link ps-2 d-flex justify-content-between align-items-center" href="{% url 'tasks:home' %}">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-2 d-flex justify-content-between align-items-center" href="{% url 'tasks:task-list' %}">
            Tasks
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-2 d-flex justify-content-between align-items-center"
             href="{% url 'tasks:task-list-history' %}">
            Tasks history
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-2 d-flex justify-content-between align-items-center"
             href="{% url 'accounts:worker-list' %}">
            Workers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-2 d-flex justify-content-between align-items-center"
             href="{% url 'tasks:task-type-list' %}">
            Task Types
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-2 d-flex justify-content-between align-items-center"
             href="{% url 'tasks:position-list' %}">
            Positions
          </a>
        </li>

      </ul>
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item me-3 me-lg-0">
          <button class="btn-sec mb-3 mr-3 btn-blue-gray" href="accounts:logout">
            <span>Logout</span>
          </button>
        </li>
     
      </ul>
    </div>
  </div>
</nav>