{% extends "layouts/base.html" %}

{% block content %}
  
  <section class="py-sm-7 py-5 position-relative" style=" background: linear-gradient(to bottom, darkblue, cadetblue);">
    <div class="d-flex justify-content-center container mt-5">
      <div class="task-detail card-task p-3 bg-white">
        <div class="about-product text-center mt-2">
          <div>
            <h4>
              {{ task.name }}
              <span>
                 {% if not task.is_completed %}
                   <span class="btn-status btn-warning">In progres</span>
                 {% else %}
                   <span class="btn-status btn-secondary">Solved</span>
                 {% endif %}
              </span>
            </h4>
          </div>
        </div>
        <hr>
        <div class="stats mt-2">
          <div class="task-dev">
            <span>
              <b>Description: </b>
              {{ task.description }}
            </span>
          </div>
          <div class="task-dev justify-content-between p-price">
            <span>
              <b>Assigned to:</b>
              {% for worker in task.assignees.all %}
                ({{ worker.first_name }} {{ worker.last_name }})
              {% endfor %}
            </span>
          </div>
          <hr>
        <a class="" href="{% url 'tasks:task-change-status' pk=task.id %}">
          {% if not task.is_completed %}
            <span class="btn btn-success">Mark as solved</span>
          {% else %}
            <span class="btn btn-secondary">Mark as not solved</span>
          {% endif %}
        </a>
        <p>
          <a href="{% url 'tasks:task-delete' pk=task.id %}"><span class="btn btn-danger">Delete</span></a>
          <a href="{% url 'tasks:task-update' pk=task.id %}"><span class="btn btn-info">Update</span></a>
        </p>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
